
<!-- model IEnumerable<FotoEvents.Models.EventModel> 
-->
@model PagedList.IPagedList<FotoEvents.Models.EventModel>

@using PagedList.Mvc;

 <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Мероприятия";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.ActionLink(item.Title, "Details", new { id = item.EventModelID })
            </td>

            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.EventModelID })

                <!--     @Html.ActionLink("Delete", "Delete", new { id=item.EventModelID })-->
            </td>
        </tr>
    }

</table>
<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
