@model PagedList.IPagedList<FotoEvents.Models.PhotoModel>

@{
    ViewBag.Title = "Фотоальбом";
}
@using PagedList.Mvc;

<h2>Фотоальбом мероприятия @Html.DisplayFor(model => model.First().Event.Title)</h2>

    <p>
        @Html.ActionLink("Загрузить новые", "Create", new { id = Model.First().Event.EventModelID})
    </p>
    <div class="container">
        <div class="row-fluid">

            @foreach (var item in Model)
            {

                <a href="@Url.Content("~/"+Model.First().LargeSourse)" class="flipLightBox"><img class="photosmall" src="@Url.Content("~/"+item.SmallSourse)" /><span></span></a>
                       @* <div class="display-field col-md-3">  

                           <img class="photosmall" src="@Url.Content("~/"+item.SmallSourse)" />
                        </div>*@

                  
                      
            }
           

         </div>
</div>

<br />
<div class="row-fluid">
    <div class="col-md-12 ">
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Photos", new { EventID=Model.First().Event.EventModelID , page }))
    </div>
</div>
