<!-- model IEnumerable<FotoEvents.Models.EventModel>
-->
@model PagedList.IPagedList<FotoEvents.Models.EventModelView>

@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Мероприятия";
}

<h2>@ViewBag.Title</h2>

<p>
    <button onclick="location.href='@Url.Action("Create", "Events")';return false;">Создать новое мероприятие</button>
   
</p>
<div class="row-fluid">
    @foreach (var item in Model)
    {
        <div class="col-md-12 ">
            <div class="row">
                <div class="col-md-2 ">
                    <a href='@Url.Action("Photos", "Albums",new {eventID=item.ЕventModel.EventModelID })'> <img class="photosmall" src="@Url.Content("~/"+item.SmallSourse)" /></a>
                </div>

                <div class="col-md-10">
                    <div class="row h3">
                        @item.ЕventModel.DateTime.ToString("dd MMMM yyyy")
                       
                    </div>
                    <div class="row h3">
                        
                            @Html.ActionLink(item.ЕventModel.Title, "Details", new { id = item.ЕventModel.EventModelID })
                        
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            @Html.ActionLink("Редактировать", "Edit", new { id = item.ЕventModel.EventModelID })
                        </div>
                        <div class="col-md-2">
                            @Html.ActionLink("Удалить", "Delete", new { id = item.ЕventModel.EventModelID })
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    }
 </div>



<br />
<div class="row-fluid">
    <div class="col-md-12 ">
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>